/.net/Huangtian.Store/obj/Debug/net6.0/Huangtian.Store.csproj.AssemblyReference.cache
*.csproj.AssemblyReference.cache
/.net/HuanTian.EntityFrameworkCore.MySql/obj/Debug/net6.0/HuanTian.EntityFrameworkCore.MySql.csproj.AssemblyReference.cache
HuanTian.Service.csproj.AssemblyReference.cache
/.net/HuanTian.WebCore/obj/Debug/net6.0/HuanTian.WebCore.csproj.AssemblyReference.cache
/.net/.vs/Huangtian.Store/v17/.suo
/.net/.vs
bin
obj
